/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
#exit {
    color:#ff2f00;
    text-decoration:none; }

#exit:hover {
    font-weight: bold;
transition: all 0.5s ease;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 1% 5%;
    height: fit-content;
}

#wrapper, #chat_rooms {
    padding-bottom:25px;
    background:#EBF4FB;
    width:60%;
    border:1px solid #ACD8F0;
    margin:0 10px 0 auto; }

#wrapper {
    margin-left: 5%;
}

#chat_rooms {
    width:38%;
    border-left:1px solid #ACD8F0;
    padding-left:10px; }
  
#chatbox, #roombox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:40em;
    width:85%;
    border:1px solid #ACD8F0;
    overflow:auto; }

    
  
#usermsg {
    width:65%;
    margin : 0 auto 0 20%;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }



#formulaire {
    display : flex;
    justify-content : center;
    margin: 50px 25%;
}

legend {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
background-color: var(--vert-clair);
border-radius: 10px;
padding: 5px;
font-weight: bold;
}

fieldset {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 2px #000;
width: 100%;
height: 18em;
}

#formcreerchat {
display: grid; 
grid-template-columns: 0.2fr 0.8fr; 
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
gap: 5px 0px; 
padding: 10px;
}

#formcreerchat * {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#creer_chat {
    margin: 10px;
}