.main {
	width: 80%;
	height: 100%;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px #000;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	background-color: var(--vert-clair);
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;
}

#contenuProfil {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	border : 0px;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.col img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: var(--vert-fonce) solid 2px;
}

#tracks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

#notfound {
	color: var(--vert-fonce);
	font-size: 1.5em;
	margin-top: 10px;
}

.err {
	text-align: center;
	top: auto;
	color: var(--rouge-fonce);
}