.enTete {
		display : flex;
}

.image {
	
}

.titreEtBoutons {
		background-color : #a3c67b;
		
		display : flex;
		flex-direction : column;
		
		padding-right : 10px;
}

.titre {
	display : flex;
	justify-content : center;
}

h1 {
		color : #374c2c;
}

.boutons {
	display : flex;
	justify-content : flex-end;
}

button {
		margin-left : 10px;
		background : #B6AC96;
}

input {
	margin-left : 50px;
}

.btDeco {
		background : #B6AC96;
}